$fullWrapperName$genericType newField$fieldName = new $fullWrapperName(enclosingClass
.$fieldName
.getValue(), "$fieldName", enclosingClass.getClass().getSimpleName());
enclosingClass.$fieldName = newField$fieldName;