package $package;

public class $resultClassName<T> extends $sourceClass<T> {

    public final String fieldName;
    public final String enclosingClassName;

    public $resultClassName(T value, String fieldName, String enclosingClassName) {
        super();
        restorePreviousValue(value);
        this.fieldName = fieldName;
        this.enclosingClassName = enclosingClassName;
    }

    @Override
    public void setValue(T value) {
        super.setValue(value);
        android.util.Log.d("UI", "value " + value + " was set into " + enclosingClassName + "." + fieldName);
    }

    private void restorePreviousValue(T value) {
        if (android.os.Looper.getMainLooper().getThread() == Thread.currentThread()) {
            super.setValue(value);
        } else {
            super.postValue(value);
        }
    }
}
